.avatar {
    height: 50px;
}
.iconomas{
    width: 25px;
}    

.footerStyle {
    background-color: #5b10c1;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: fit-content;
}
.menuStyle {
    background-color: #5b10c1;
}

.headerStyle {
    background-color: white;
    top: 0px;
    width: 100%;
    height: fit-content;
}

.buttonStyle {
    background-color: #5b10c1;
    color: whitesmoke;
    align-items: right;
}

a {
    color: white;
    text-decoration: none;
}

.indexStyle {
    text-align: center;
}
.divFormulario {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.divTituloLogin {
    text-align: center;
    font-weight: bold;
}

.navbar-brand {
    display: flex;
    align-items: center;
    
}

.custom-nav .navbar-nav li:not(:last-child) a {
    margin-right: 50px;
}

.custom-nav {
    display: flex;
    align-items: center;
}
  

.bienvenida{
    margin-left: 30px;
}


.socialnetwork{
    height: 25px;
}

