.avatar {
    height: 50px;
}

.footerStyle {
    background-color: #5b10c1;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: fit-content;
}

.headerStyle {
    background-color: white;
    color: black;
    top: 0px;
    width: 100%;
    height: fit-content;
}

.buttonStyle {
    background-color: #5b10c1;
    color: whitesmoke;
    align-items: right;
}

a {
    text-decoration: none;
}

.indexStyle {
    text-align: center;
}
.divFormulario {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.divTituloLogin {
    text-align: center;
    font-weight: bold;
}
.navTemplate{
    color: black;
    font-weight: bold;
}