<?php

$host = "localhost";
$dbUsuario = "TU_USUARIO"; 
$dbContraseña = "TU_CONTRASEÑA"; 
$dbNombre = "nombre_base_datos";

$conexion = new mysqli($host, $dbUsuario, $dbContraseña, $dbNombre);

if ($conexion->connect_error) {
    die("Error de conexión: " . $conexion->connect_error);
}

?>

